@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body{
  display: flex;
  justify-content: center;
}
.container{
  width: 600px;
  height: 100%;
}
.TopText{
  font-family: 'Pretendard-Regular';
  text-align: center;
  font-size: 22px;
  padding-top: 60px;
}

@media (max-width:600px) {
  html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
  .container{
    width: 100%;
    height: 100%;
  }
}