<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments</title>
</head>
<body>
<h1>Appointments</h1>
<table>
    <thead>
    <tr>
        <th>Dentist</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.dentist.name}"></td>
        <td th:text="${#dates.format(appointment.appointmentDateTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(appointment.appointmentDateTime, 'HH:mm')}"></td>
        <td th:text="${appointment.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>