<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<h1>User Login Page</h1>
<form action="/login" method="post">
    <label for="userId">ID:</label>
    <input type="text" id="userId" name="userId" required><br><br>
    <label for="userPwd">Password:</label>
    <input type="password" id="userPwd" name="userPwd" required><br><br>
    <input type="submit" value="Login">
</form>
<div th:if="${loginError}" style="color: red;">
    <p th:text="${loginError}"></p>
</div>
<br><br><a href="/register">회원가입</a>
</body>
</html>