<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약</title>
</head>
<body>
<div id="year"></div>
<div id="nextButton2"></div><div id="beforeButton2"></div>
<div id="month"></div>
<div id="nextButton"></div><div id="beforeButton"></div>
<table style="margin-left: auto; margin-right:auto;">
    <tr id="dayArea"></tr>
    <tr id="dayArea1"></tr>
    <tr id="dayArea2"></tr>
    <tr id="dayArea3"></tr>
    <tr id="dayArea4"></tr>
    <tr id="dayArea5"></tr>
    <tr id="dayArea6"></tr>
</table>
    <div id="timeArea"></div>
    <br>
    <div id="insertOrCancle"></div>
</body>
</html>