<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${dentist.id == null ? 'Add dentist' : 'Edit dentist'}"></title>
</head>
<body>
<h1 th:text="${dentist.id == null ? 'Add dentist' : 'Edit dentist'}"></h1>
<form action="#" th:action="@{${dentist.id == null ? '/dentist' : '/dentist/' + dentist.id}}" th:object="${dentist}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required />
  <br/>

  <label for="category">Specialization:</label>
  <input type="text" id="category" th:field="*{category}" required />
  <br/>
  <label for="contents">Specialization:</label>
  <input type="text" id="contents" th:field="*{contents}" required />
  <br/>
  <label for="address">Specialization:</label>
  <input type="text" id="address" th:field="*{address}" required />
  <br/>

  <button type="submit">Save</button>
  <a href="/dentist">Cancel</a>
</form>
</body>
</html>