<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>치과 리스트</title>
</head>
<body>
<h1>Dentist List</h1>
<a href="/dentist/new">새치과작성</a>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Specialization</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="dentist : ${dentist}">
    <td th:text="${dentist.id}"></td>
    <td th:text="${dentist.name}"></td>
    <td th:text="${dentist.specialization}"></td>
    <td>
      <a th:href="@{/dentists/{id}(id=${dentist.id})}">보기</a> |
      <a th:href="@{/dentists/edit/{id}(id=${dentist.id})}">수정</a> |
      <a th:href="@{/dentists/delete/{id}(id=${dentist.id})}" onclick="return confirm('Are you sure?');">삭제</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>