<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dentist Login</title>
</head>
<body>
<h1>Dentist Login Page</h1>
<form action="/dentist/login" method="post">
    <label for="docId">ID:</label>
    <input type="text" id="docId" name="docId" required><br><br>
    <label for="docPwd">Password:</label>
    <input type="password" id="docPwd" name="docPwd" required><br><br>
    <input type="submit" value="Login">
</form>
<div th:if="${loginError}" style="color: red;">
    <p th:text="${loginError}"></p>
</div>
<br><br><a href="/dentist/register">회원가입</a>
</body>
</html>